<div class="rbt-course-details-area ptb--60">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-12">
        <div class="course-details-content">
          <div class="rbt-course-feature-box rbt-shadow-box thuumbnail">
          </div>
          <!-- Start Course Feature Box  -->
          <div class="rbt-course-feature-box overview-wrapper rbt-shadow-box mt--30 has-show-more" id="overview">
            <div class="rbt-course-feature-inner has-show-more-inner-content section-content">
              <div class="section-title-detail"></div>
            </div>
          </div>
          <!-- End Course Feature Box  -->
        </div>
      </div>
    </div>
  </div>
</div>

